In [142]:
import pandas as pd

In [149]:
df = pd.read_csv("data/cpi_data.csv")
df = df.transpose()
df = df.reset_index().iloc[1:, [1,2]]
df.columns = ['date', 'cpi']
df[['year', 'month']] = df['date'].apply(lambda x: pd.Series(str(x).split(" ")[:2]))
df.drop('date', axis=1, inplace=True)
df = df[['year', 'month', 'cpi']] # Unncessary rearranged

In [150]:
df.head(5)

   year month      cpi
1  2023   Feb  112.019
2  2023   Jan  111.397
3  2022   Dec  111.186
4  2022   Nov  110.959
5  2022   Oct  109.893